body{
    
    text-align: center;
}

.container
{
    margin-top: 15%;
}

.bgImage {
    position: absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    z-index : -1;
    animation: fadeIn .5s linear;
}

h1{
    transition: color 0.1s ease-in-out;
    font-size: 80px;
}

.btn
{
    cursor: pointer;
}
.clicked
{
    color: #e4efe7;
}

.greeting,
.form
{
    display: none;
}
.showing
{
    font-size: 30px;
    display: block;
}

.js-toDoList
{
    width: 40%;
    margin-left: 37%;
    text-align: left;
}

